doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 30秒で退職届
    link(rel='stylesheet', href='common/css/app.css')
  body
    .row.expanded.collapse
      .columns.medium-6(style="height: 100vh; background: #ddd;")#preview
        include elements/_preview
        #inputs
          form
            .row
              .columns.small-3
                label(for="name").text-right.middle 退職者の名前
              .columns.small-9
                input#name(type="text", placeholder="山田 太郎")

      .columns.medium-6
    script(src='common/js/jquery.min.js')
    //- script(src='common/js/what-input.min.js')
    script(src='common/js/foundation.min.js')
    script(src='common/js/app.js')
