doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 30秒で退職届
    link(rel='stylesheet', href='common/css/app.css')
  body
    .row.expanded.collapse
      .columns.medium-6(style="height: 100vh; background: #ddd;")#preview
        .page
          h2.text-center 退職願
          .shigi.text-right
            p 私議、
          .main-text
            p
              |この度、一身上の都合により、来る
              time 平成n年n月n日
              |をもって、退職致したく、ここにお願い申し上げます。
          .signature
            .date
              time 平成n年n月n日
            .name
              p.position 営業部一課
              p 山田太郎
          .company
            .company-name
              p 株式会社サンプル
            .company-ceo-name
              p
                |代表取締役社長　田中一郎
                span.title 様

      .columns.medium-6
    script(src='common/js/jquery.min.js')
    //- script(src='common/js/what-input.min.js')
    script(src='common/js/foundation.min.js')
    script(src='common/js/app.js')
