doctype html
html.no-js(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- meta(name='viewport', content='width=1280')
    title 30秒で退職届
    link(rel='stylesheet', href='common/css/toggle-switch.css')
    link(rel='stylesheet', href='common/css/flatpickr.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='common/css/app.css')
  body
    .row.expanded.collapse
      .columns.medium-6#preview
        include elements/_preview
      .columns.medium-6#controller
        .row
          .columns
            h1.text-center 30秒で退職届
        #selectors.row
          .columns.medium-6
            #select-type
              fieldset
                legend 書類の種別
                .switch-toggle.switch-candy
                  input#type-proposal(name='type', type='radio', checked='')
                  label(for='type-proposal', onclick='') 退職願
                  input#type-notif(name='type', type='radio').disabled
                  label(for='type-notif', onclick='') 退職届
                  a.button
          .columns.medium-6
            #select-shigi
              fieldset
                legend 私議/私事
                .switch-toggle.switch-candy
                  input#type-shigi(name='shigi', type='radio', checked='')
                  label(for='type-shigi', onclick='') 私議
                  input#type-shiji(name='shigi', type='radio').disabled
                  label(for='type-shiji', onclick='') 私事
                  a.button
        #inputs
          form
            .row.user-name
              .columns.small-3
                label(for="name").text-right.middle 退職者の名前
              .columns.small-9
                input#name(type="text", placeholder="山田 太郎")
            .row
              .columns.small-6
                .row.x-day.collapse
                  .columns.small-3
                    label(for="x-day-date").text-right.middle 退職日
                  .columns.small-9
                    input#x-day-date(type="text", placeholder="2017-02-01")
              .columns.small-6
                .row.submit-day.collapse
                  .columns.small-3
                    label(for="submit-day").text-right.middle 書類提出日
                  .columns.small-9
                    input#submit-day(type="text", placeholder="2017-02-01")
              .row.company-name
                .columns.small-3
                  label(for="company-name").text-right.middle 会社の名前
                .columns.small-9
                  input#company-name(type="text", placeholder="株式会社サンプル")
              .row.company-ceo-name
                .columns.small-3
                  label(for="company-ceo-name").text-right.middle 代表者の名前
                .columns.small-9
                  input#company-ceo-name(type="text", placeholder="代表取締役社長　田中 一郎")
        nav#ftr-nav.row
          .column.text-center
            a.button 印刷する
    script(src='common/js/jquery.min.js')
    //- script(src='common/js/what-input.min.js')
    script(src='common/js/foundation.min.js')
    script(src='common/js/flatpickr.min.js')
    script(src='common/js/app.js')
