.page
  h2.text-center.type-proposal.content 退職願
  h2.text-center.type-notification.content.hide 退職届
  .shigi.text-right
    p 私議、
  .main-text
    p
      |この度、一身上の都合により、来たる
      time.x-day 平成n年n月n日
      |をもって、
      span.type-proposal.content 退職致したく、ここにお願い申し上げます。
      span.type-notification.content.hide 退職致します。
  .signature
    .date
      time 平成n年n月n日
    .name
      p.position 営業部一課
      p.name-person 山田太郎
  .company
    .company-name
      p 株式会社サンプル
    .company-ceo-name
      p
        |代表取締役社長　田中一郎
        span.title 様
